# National Income Inequality Diagonstic

## Notebook - 01 - Data Unerstanding

**Objective:**
To understand the structure, coverage, and limitations of the World Bank Gini Index dataset
before any cleaning or transformation.

In [5]:
import pandas as pd
import numpy as np

In [14]:
gini_raw = pd.read_csv('../data/raw/world_bank_gini.csv', skiprows=4)

In [15]:
gini_raw.shape

(266, 70)

In [16]:
gini_raw.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
gini_raw.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='object')

In [19]:
gini_raw.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2021              float64
2022              float64
2023              float64
2024              float64
Unnamed: 69       float64
Length: 70, dtype: object

In [21]:
year_columns = gini_raw.columns[4:]
year_columns.min(), year_columns.max()

('1960', 'Unnamed: 69')

In [22]:
gini_raw[gini_raw["Country Name"] == "Germany"].iloc[:, :10]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965
55,Germany,DEU,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
gini_raw.isnull().sum().head(10)

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              266
1961              266
1962              266
1963              265
1964              265
1965              265
dtype: int64

In [32]:
#Load Metadata: country 
country_meta = pd.read_csv("../data/raw/Metadata_country.csv")
country_meta.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,Middle East & North Africa,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN

In [33]:
# Load Indicator Metadata 
indicator_meta = pd.read_csv("../data/raw/Metadata_Indicator.csv")
indicator_meta.head()

,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Unnamed: 4
0,SI.POV.GINI,Gini index,Gini index measures the extent to which the di...,"World Bank, Poverty and Inequality Platform. D...",NaN

## Initally Obvservation and processing plan

- The dataset is in wide format with years as columns.
- Indicator name and code are redundant for analysis.
- Country-level time series analysis requires reshaping to long format.
- Missing values are expected and will be handled later.
- Country metadata will be merged to add regional context.

**Next step:**
Transform raw data into analysis-ready long format